@{
    Layout = "_MyLayout";
}    
<div class="container-fluid bg-elegant">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/pizzaRicca4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/pizzaRicca2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/pizzaRicca3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/pizzaRicca1.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>


    <!-- MAIN BODY WITH SIX PIZZA CARDS-->
<div class="bg-contrast">
    <div class="container" >
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4">            
                <div class="card m-3 bg-elegant text-contrast">
                    <img src="~/img/margherita.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div><h3>La Regina</h3></div>
                        <div>Con farina macinata a pietra solo nelle notti di luna piena, lievito madre centenario, mozzarella di bufala tibetana e pomodoro.</div>
                        <div class="card-footer fs-4">25,00 €</div>
                    </div>
                </div>
               
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card m-3 bg-elegant text-contrast">
                    <img src="~/img/ananas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div><h3>La Maui Experience</h3></div>
                        <div>Con prosciutto di pata negra iberico allevato a ghiande e birra, ananas trasportato a nuoto da pescatori hawaiani e pomodoro.</div>
                        <div class="card-footer fs-4">42,00 €</div>
                    </div>
                </div>
                
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card m-3 bg-elegant text-contrast">
                    <img src="~/img/diavolaStracciatella.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div><h4>La Diavola&Stracciatella</h4></div>
                        <div>Con stracciatella filata a mano ascoltando Mozart, Chopin e Vivaldi ma non Beethoven, ventricina piccante e pomodoro</div>
                        <div class="card-footer fs-4">34,00 €</div>
                    </div>
                </div>
               
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card m-3 bg-elegant text-contrast">
                    <img src="~/img/domPeri.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div><h3>La DomPeri</h3></div>
                        <div>Con Royal Caviar siberiano, scaglie di tartufo bianco, champagne versato sul momento da 17 cm di altezza e pomodoro. </div>
                        <div class="card-footer fs-4">120,00 €</div>
                    </div>
                </div>
                
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card m-3 bg-elegant text-contrast">
                    <img src="~/img/quattroFormaggi.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div><h3>La Quattro Formaggi</h3></div>
                        <div>Con soli formaggi con latte di animali quasi estinti fatti stagionare in grotte a oltre 6000 metri di altitudine e pomodoro</div>
                        <div class="card-footer fs-4">80,00 €</div>
                    </div>
                </div>
                
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card m-3 bg-elegant text-contrast">
                        <img src="~/img/bresaolaRucola.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <div><h3>La Fitness</h3></div>
                        <div>Bresaola <br />Rucola<br />Scaglie di Grana<br /> </div>
                            <div class="card-footer fs-4">20,00 €</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- FOOTER-->


 



