@model List<PizzaModel>
<div class="row">

@foreach (PizzaModel pizza in Model)
{
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card m-3 bg-elegant text-contrast">
            <img src="@pizza.ImgSource" class="card-img-top" alt="...">
            <div class="card-body">
                <div><h4>@pizza.Name</h4></div>
                <div>@pizza.Description</div>
                <div class="card-footer fs-4">@pizza.Price.ToString("n2") €</div>
            </div>
        </div>
    </div>
    }
</div>