html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-elegant {
    background-color: #790000;
}

.bg-contrast {
    background-color: #FFF3DD;
}

.bg-black {
    background-color: black;
}

.text-contrast {
    color: #FFF3DD;
}