* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

.bg-none{
    background-color: none;
}

.bg-elegant {
    background-color: #790000;
}

.bg-contrast {
    background-color: #FFF3DD;
}

.bg-black {
    background-color: black;
}

.text-contrast {
    color: #FFF3DD;
}

.bg-whitey {
    background-color: #FFF9F4;
}

.red-hover:hover{
    color:darkred;
}
